<div class="col-sm-3 col-md-2 sidebar">
      <div class="top-navigation">
        <div class="t-menu">MENU</div>
        <div class="t-img">
          <img src="web/images/lines.png" alt="" />
        </div>
        <div class="clearfix"> </div>
      </div>
        <div class="drop-navigation drop-navigation">
          <ul class="nav nav-sidebar">
          <li class="active"><a href="index.html" class="home-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
          <li><a href="#" class="user-icon"><span class="glyphicon glyphicon-home glyphicon-blackboard" aria-hidden="true"></span>Dashboard</a></li>
          <li><a href="#" class="sub-icon"><span class="glyphicon glyphicon-home glyphicon-hourglass" aria-hidden="true"></span>3D Model</a></li>
          <li><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>FB Game<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
            <ul class="cl-effect-2">
              <li><a  onclick="loadGame1()">Game A</a></li>                                             
              <li><a href="#">Game B</a></li>
              <li><a href="#">Game C</a></li> 
            </ul>
            <!-- script-for-menu -->
            <script>
              $( "li a.menu1" ).click(function() {
              $( "ul.cl-effect-2" ).slideToggle( 300, function() {
              // Animation complete.
              });
              });
            </script>
          <li><a href="#" class="menu"><span class="glyphicon glyphicon-film glyphicon-king" aria-hidden="true"></span>Feedback<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
            <ul class="cl-effect-1">
              <li><a href="#">User</a></li>                                             
              <li><a href="#">Advisor</a></li>
              <li><a href="#">Designer</a></li> 
              <li><a href="#">Analyse</a></li>  
            </ul>
            <!-- script-for-menu -->
            <script>
              $( "li a.menu" ).click(function() {
              $( "ul.cl-effect-1" ).slideToggle( 300, function() {
              // Animation complete.
              });
              });
            </script>
          <li><a href="#" class="song-icon"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>Research</a></li>
          <li><a href="#" class="news-icon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Results</a></li>
          </ul>
          <!-- script-for-menu -->
            <script>
              $( ".top-navigation" ).click(function() {
              $( ".drop-navigation" ).slideToggle( 300, function() {
              // Animation complete.
              });
              });
            </script>
          <div class="side-bottom">
            <div class="side-bottom-icons">
              <ul class="nav2">
                <li><a href="#" class="facebook"> </a></li>
                <li><a href="#" class="facebook twitter"> </a></li>
                <li><a href="#" class="facebook chrome"> </a></li>
                <li><a href="#" class="facebook dribbble"> </a></li>
              </ul>
            </div>
            <div class="copyright">
              <p> © 2015 SuitsU | Version 1.0 </p>
            </div>
          </div>
        </div>
        </div>